@model ToDoList.Models.ToDoLists



<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fas fa-check-square me-1"></i>
                            <u>Add My Todos</u>
                        </p>

                        <div class="pb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-center">
                                        <form method="post" class="w-100">
                                            <input type="text" input asp-for="ToDoValue" class="form-control form-control-lg" id="exampleFormControlInput1"
                                                   placeholder="Add new...">

                                            <div class="w-100 text-center ">
                                                <button type="submit" value="submit" class="btn_submit btn-primary"
                                                        style="margin-top:20px;">
                                                    Add
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
